<ion-view view-title="摇一摇">
  <ion-content class="padding">
  <div class ="shakeImg">
    <img src ="img/shake.jpg">
  </div>
  <p id="demo">Status here</p>

  <div class="list">
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
  </div>
   <div class="list">
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
  </div>
  </ion-content>
</ion-view>
